
<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Title</th>
            <td>
                                                            {{ bookmark.title }}
                                  </td>
          </tr>
          
          <tr>
        <th>Created</th>
        <td>{{ bookmark.created|date }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{ bookmark.updated|date }}</td>
    </tr>
    </tbody>
</table>


