    {% extends 'base.html.twig' %}

    {% block title %}Edit Recording {% endblock %}

    {% block body %}
    <h1>Edit Recording</h1>

    {% embed 'recording/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
