###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

# Yarn packages
/public/yarn

# Bundle assets
/templates/jquery.collection.html.twig
/public/js/jquery.collection.js
/data

# Coverage reports etc.
/public/dev

# Local configuration
/phpstan.neon
