includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - tests
        - lib
        - migrations
    excludePaths:
        - lib/Nines/vendor
        - src/Kernel.php
        - tests/*/data/*
        - tests/bootstrap.php
