    {% extends 'base.html.twig' %}

    {% block title %}New Value {% endblock %}

    {% block body %}
    <h1>New Value</h1>

    {% embed 'value/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
