    {% extends 'popup.html.twig' %}

    {% block title %}New Poem {% endblock %}

    {% block body %}
    <h1>New Poem</h1>

    {% embed 'poem/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
