
<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        
          <tr>
        <th>Created</th>
        <td>{{ poem.created|date }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{ poem.updated|date }}</td>
    </tr>
    </tbody>
</table>


