{% extends 'base.html.twig' %}

{% block title %}Title Search{% endblock %}

 {% block pageheader %}
    <h1>Title Search</h1>
 {% endblock %}

{% block body %}

    <form method="get" action="{{ path('title_search') }}" class="form-horizontal">
        <div class='row'>
            {% embed '@NinesSolr/search/partial/search_field.html.twig' with {'path': 'title_search'} %}
            {% endembed %}
        </div>

        <div class='row'>
            <div class='col-sm-3'>
                {% if result %}
                    {% include '@NinesSolr/search/partial/order.html.twig' with {
                        'header': 'Result Order',
                        'options': {
                            'score.desc': 'Relevance',
                            'main.asc': 'Title (A to Z)',
                            'main.desc': 'Title (Z to A)',
                            'price.asc': 'Price (Low to High)',
                            'price.desc': 'Price (High to Low)',
                        }
                    } %}

                    {% include '@NinesSolr/search/partial/facet_range.html.twig' with {
                        'facet': result.getFacet('price'),
                        'filter': 'price',
                        'header': 'Price',
                    } %}
                {% endif %}
            </div>

            <div class='col-sm-9'>
                {% if result and result.count > 0 %}
                    {% set pagination = result.paginator %}

                    {% embed '@NinesSolr/search/partial/header.html.twig' with {'pagination': pagination} %}
                    {% endembed %}

                    {% embed '@NinesSolr/search/partial/result.html.twig' with {'result': result} %}
                    {% endembed %}

                    {% if pagination %}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </form>


{% endblock %}

