<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Url</th>
            <td>
                {{ work.url }}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ work.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ work.updated|date }}</td>
        </tr>
    </tbody>
</table>


