    {% extends 'base.html.twig' %}

    {% block title %}Edit Artefact {% endblock %}

    {% block body %}
    <h1>Edit Artefact</h1>

    {% embed 'artefact/partial/form.html.twig' %}
    {% endembed %}

    {% endblock %}

    {% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
