
<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Title</th>
            <td>
                                                            {{ recording.title }}
                                  </td>
          </tr>
          
          <tr>
        <th>Created</th>
        <td>{{ recording.created|date }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{ recording.updated|date }}</td>
    </tr>
    </tbody>
</table>


