{% extends 'base.html.twig' %}

    {% block title %}Edit Work {% endblock %}

    {% block body %}
        <h1>Edit Work</h1>

        {% embed 'work/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
